/* Write your CSS here */
.money-details {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.detail-card {
  display: flex;
  align-items: center;
  background-color: #ecfccb;
  padding: 20px;
  border-radius: 10px;
  flex: 1;
  margin: 0 10px;
}

.detail-card.income {
  background-color: #cffafe;
  padding: 10px;
}

.detail-card.expenses {
  background-color: #ede9fe;
  padding: 10px;
}

.amount {
  font-size: 24px;
  color: #475569;
  padding: 10px;
}

.logo {
  height: 150px;
  width: 150px;
}
